{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Welcome | {{ block.super }} {% endblock %}

<style>
{% block style %}


.jumbotron{
    background-color: cadetblue;
    color: #fff;
}

{% endblock %}
</style>
{% block jumbotron %}
<div class="jumbotron">
    <div class="container">


    <div class="row">
        <div class="col-sm-6">



            <h1>Trydjango 1.8</h1>
            <p>This MVP landing project is designed to help you to work more easily.</p>
            <p>
                <a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
            </p>
        </div>
        <div class="col-sm-6">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/f28MJ7IMsS8" frameborder="0" allowfullscreen></iframe>
            <!--<img class="img-responsive" src="{% static 'img/marketing1.jpg' %}"/>-->
        </div>

    </div>

    </div>
</div>


{% endblock %}

{% block content %}
<div class="row">

    <div class="col-xs-3 pull-right">
        <p class="lead text-align-center">{{ title }}</p>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form|crispy }}
         <input class="btn btn-primary"  type="submit" value="Sign Up"/>
    </form>
    </div>

      <div class="col-xs-3">
        <p class="lead text-align-center">Built with Django &amp; Bootstrap</p>
                      <img class="img-responsive" src="{% static 'img/marketing1.jpg' %}"/>

    </div>
      <div class="col-xs-3">
        <p class="lead text-align-center">Built with  Bootstrap
        <br/>
            <span class="fa-stack fa-lg fa-5x">
            <i class="fa fa-comment-o fa-stack-2x"></i>
                <i class="fa fa-bolt fa-stack-1x"></i>

                </span>
        </p>

    </div>
      <div class="col-xs-3">
        <p class="lead text-align-center">Built with Django <br/><br/>
            <span class="fa-stack fa-lg fa-3x">
          <i class="fa fa-circle-o-notch fa-stack-2x fa-spin"></i>
          <i class="fa fa-github fa-stack-1x"></i>
         </span>
        <!--<span class="sr-only">Loading...</span>-->
        </p>

    </div>

</div>
{% endblock %}